/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
    --light-black: rgba(0,0,0,0.8);
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 428px;
}

h1, h2, h3 {
    font-family: "Irish Grover", serif;
}

p {
    font-family: "Habibi", serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    padding-left: 10px;
    font-size: 1.75em;
}

h3{
    font-size: 1.25em;
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 290px;
    align-items: center;
}

.LogoContainer {
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.LogoContainer h1 {
    padding-bottom: 5px;
    text-shadow: 2px 2px 2px var(--black);
}

.LogoContainer p {
    padding-bottom: 5px;
    font-style: italic;
}


.NavContainer {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 .NavContainer  h2{
    display: none;
}

.NavItems {
    width: 350px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* position: relative; */
}

.Btn {
    background-color: var(--orange);
    border-radius: 3px;
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.TopBtn {
    background-color: var(--orange);
    border-radius: 3px;
    border: 2px solid var(--white);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    z-index: 10;
    
}

.TopBtn a,
.Btn a {
    color: var(--white);
    text-decoration: none;
}


#fruits p, #veggies p {
    line-height: 1.5;
    padding: 15px 15px;
    margin-bottom: 15px;
}

#fruitsForSale, #veggiesForSale {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    /* height: 4000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}

.items {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 300px;
    /* grid-template-columns: 300px; */
    grid-template-columns: repeat( 12 / 300px);
    row-gap: 50px;
    column-gap: 100px;
    align-content:  space-between;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

/* Grid Items - row=side, col=top */
    .grid-item-1 { grid-column: 1 / 2; grid-row: 1 / 2;}
    .grid-item-2 { grid-column: 1 / 2; grid-row: 2 / 3;}
    .grid-item-3 { grid-column: 1 / 2; grid-row: 2 / 4;}
    .grid-item-4 { grid-column: 1 / 2; grid-row: 4 / 5;}
    .grid-item-5 { grid-column: 1 / 2; grid-row: 5 / 6;}
    .grid-item-6 { grid-column: 1 / 2; grid-row: 6 / 7;}
    .grid-item-7 { grid-column: 1 / 2; grid-row: 7 / 8;}
    .grid-item-8 { grid-column: 1 / 2; grid-row: 8 / 9;}
    .grid-item-9 { grid-column: 1 / 2; grid-row: 9 / 10;}
    .grid-item-10 { grid-column: 1 / 2; grid-row: 10 / 11;}
    .grid-item-11 { grid-column: 1 / 2; grid-row: 11 / 12;}
    .grid-item-12 { grid-column: 1 / 2; grid-row: 12 / 13;}

figure {
    /* width: 100%; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

figcaption {
    width: 130px;
    height: 40px;
    background-color: var(--light-black);
    color: var(--white);
    position: absolute;
    /* z-index: 5; */
    /* top: 50%;
    left: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;

}


footer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green);
}

#contact {
    color: var(--white);
    /* background-color: var(--green); */
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

address {
    line-height: 1.5;
}



#dailySchedule {
    color: var(--white);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;

}

dt {
    margin-bottom: 10px;

}


.small {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

small {
    color: var(--green);
    margin: 5px 0 15px 0;
    
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 834px) {
    .LogoContainer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .LogoContainer h1 {
        margin-left: 10px;
    }

    .LogoContainer p {
        margin-right: 20px;
    }

    .NavItems {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }


    #contact {
        margin-top: 35px;
    }
    address {
        padding-bottom: 90px;

    }

    #hours {
        padding-top: 55px;
        
    }

    .items {
        grid-template-rows: repeat(6, 300px);
        grid-template-columns: repeat(2, 300px);
        
    }
    
    /* Grid Items - row=side, col=top */
    .grid-item-1 { grid-column: 1 / 2; grid-row: 1 / 2;}
    .grid-item-2 { grid-column: 2 / 3; grid-row: 1 / 2;}
    .grid-item-3 { grid-column: 1 / 2; grid-row: 2 / 3;}
    .grid-item-4 { grid-column: 2 / 3; grid-row: 2 / 3;}
    .grid-item-5 { grid-column: 1 / 2; grid-row: 3 / 4;}
    .grid-item-6 { grid-column: 2 / 3; grid-row: 3 / 4;}
    .grid-item-7 { grid-column: 1 / 2; grid-row: 4 / 5;}
    .grid-item-8 { grid-column: 2 / 3; grid-row: 4 / 5;}
    .grid-item-9 { grid-column: 1 / 2; grid-row: 5 / 6;}
    .grid-item-10 { grid-column: 2 / 3; grid-row: 5 / 6;}
    .grid-item-11 { grid-column: 1 / 2; grid-row: 6 / 7;}
    .grid-item-12 { grid-column: 2 / 3; grid-row: 6 / 7;}

    footer {
        height: 350px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #contact {
        width: 50%;
        height: 250px;
    }

    #hours{
        width: 50%;

    }

    .small {
        flex-direction: column;
        margin-top: 40px;
        /* align-items: center;
        justify-content: center; */
    }
    

}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1240px) {
    .HeaderContainer {
        height: 100px;
        flex-direction: row;
        margin-bottom: 40px;
        justify-content: space-evenly;

    }
    .LogoContainer {
        width: 45%;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .LogoContainer p {
        margin: 0 10px 0;
    }

    .NavContainer {
        width: 55%;
        height:  100px;
        background-color: var(--green);

    }

    .items {
        grid-template-rows: repeat(4, 300px);
        grid-template-columns: repeat(3, 300px);
        
    }

    /* Grid Items - row=side, col=top */
    .grid-item-1 { grid-column: 1 / 2; grid-row: 1 / 2;}
    .grid-item-2 { grid-column: 2 / 3; grid-row: 1 / 2;}
    .grid-item-3 { grid-column: 3 / 4; grid-row: 1 / 2;}
    .grid-item-4 { grid-column: 1 / 2; grid-row: 2 / 3;}
    .grid-item-5 { grid-column: 2 / 3; grid-row: 2 / 3;}
    .grid-item-6 { grid-column: 3 / 4; grid-row: 2 / 3;}
    .grid-item-7 { grid-column: 1 / 2; grid-row: 3 / 4;}
    .grid-item-8 { grid-column: 2 / 3; grid-row: 3 / 4;}
    .grid-item-9 { grid-column: 3 / 4; grid-row: 3 / 4;}
    .grid-item-10 { grid-column: 1 / 2; grid-row: 4 / 5;}
    .grid-item-11 { grid-column: 2 / 3; grid-row: 4 / 5;}
    .grid-item-12 { grid-column: 3 / 4; grid-row: 4 / 5;}

    footer {
        justify-content: space-around;
    }

    #contact {
        flex-direction: row;
        margin-top: 0;
    }
    
    address {
        padding-bottom: 0;

    }

    #hours {
        padding-top: 0;
        
    }

    #dailySchedule dt{
        flex-wrap: wrap;
    }
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media screen and (min-width: 1400px) {
    .LogoContainer {
        width: 40%;

    }

    .NavContainer {
        width: 60%;
    }


    .items {
        grid-template-rows: repeat(3, 300px);
        grid-template-columns: repeat(4, 300px);
        gap: 50px;
    }

    /* Grid Items - row=side, col=top */
    .grid-item-1 { grid-row: 1 / 2; grid-column: 1 / 2;}
    .grid-item-2 { grid-row: 1 / 2; grid-column: 2 / 3;}
    .grid-item-3 { grid-row: 1 / 2; grid-column: 3 / 4;}
    .grid-item-4 { grid-row: 1 / 2; grid-column: 4 / 5;}
    .grid-item-5 { grid-row: 2 / 3; grid-column: 1 / 2;}
    .grid-item-6 { grid-row: 2 / 3; grid-column: 2 / 3;}
    .grid-item-7 { grid-row: 2 / 3; grid-column: 3 / 4;}
    .grid-item-8 { grid-row: 2 / 3; grid-column: 4 / 5;}
    .grid-item-9 { grid-row: 3 / 4; grid-column: 1 / 2;}
    .grid-item-10 { grid-row: 3 / 4; grid-column: 2 / 3;}
    .grid-item-11 { grid-row: 3 / 4; grid-column: 3 / 4;}
    .grid-item-12 { grid-row: 3 / 4; grid-column: 4 / 5;}

}